<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamento</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
-
</head>
<body>

    <h2>Registro de Entrada</h2>
    <form action="RegistrarEntradaServlet" method="post">
    <label for="placa">Placa do Carro:</label>
    <input type="text" id="placa" name="placa" required><br><br>
    <input type="submit" value="Registrar Entrada">
    </form>

</body>
</html>